<div class="d-sm-inline-flex align-items-center mb-2 justify-content-between">
    <h1 class="h5 font-weight-bold mb-0 page-title">@ViewBag.Title</h1>
    @* <ol class="breadcrumb bg-transparent float-sm-right">
    <li class="breadcrumb-item"><a href="#">Home</a></li>
    <li class="breadcrumb-item active">Dashboard</li>
    </ol> *@
</div>
