@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = localizer["Ranks"];
    ViewData["Caption"] = localizer[""];
}
<div class="card w-masterhead network-bg">
    <div class="row align-items-center p-5 text-white">
        <div class="col d-md-flex align-items-center" style="gap: 20px;">
            <img src="/images/teamwork.gif" width="120" class="img-fluid mr-4 img-circle">
            <h4>Current Rank:</h4>
            <h1>None</h1>
        </div>
    </div>
</div>
<div class="card card-primary card-tabs tree-tabs">
    <div class="card-body">
        <div class="rank-card">
            <div class="d-flex justify-content-center flex-wrap" style="gap: 24px;">
                <div class="rank-frame">
                    <img src="~/images/ranks/Star-600.png" class="img-fluid" />
                </div>
                <div class="rank-frame">
                    <img src="~/images/ranks/Star-1000.png" class="img-fluid" />
                </div>
                <div class="rank-frame">
                    <img src="~/images/ranks/Team-Coordinator.png" class="img-fluid" />
                </div>
                <div class="rank-frame">
                    <img src="~/images/ranks/Team-Leader.png" class="img-fluid" />
                </div>
                <div class="rank-frame">
                    <img src="~/images/ranks/Regional-Director.png" class="img-fluid" />
                </div>
                <div class="rank-frame">
                    <img src="~/images/ranks/Regional-Vice-President.png" class="img-fluid" />
                </div>
                <div class="rank-frame">
                    <img src="~/images/ranks/Vice-President.png" class="img-fluid" />
                </div>
                <div class="rank-frame">
                    <img src="~/images/ranks/Senior-Vice-President.png" class="img-fluid" />
                </div>
                <div class="rank-frame">
                    <img src="~/images/ranks/Icon.png" class="img-fluid" />
                </div>
            </div>
        </div>
    </div>

</div>
